@import url(droparea.css);

input, textarea, select, droparea {
   appearance: none;
   width: 100%;
   border-radius: .5rem;
   border: 1px solid var(--stroke-default);

   padding: .75rem 1rem;

   font: var(--text);
}

label{
    font: var(--text-label);
    color: var(--text-secondary);

    display: block;
    margin-bottom: .25rem;
}

input:focus, select:focus, textarea:focus{
    outline: .25rem;
    border-color: var(--stroke-highlight);
    box-shadow: 0 0 0 4px var(--brand-primary-alpha);
}

.adress .flex{
    gap: 1.25rem;
}

.input-wrapper:has([disabled]){
    opacity: .5;
}

input{
    &[disabled]{
        background-color: var(--surface-disabled);

        border: 1px solid var(--stroke-default);

        color: var(--text-primary);
    }
}   